<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <form action="" method="post">
            <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" name="place"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="number" name="pname"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
        </form>
    
</body>
</html>