<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <form action="" method="post">
            <table>
            <tr>
                <th>fname</th>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <th>lname</th>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <th>Age</th>
                <td><input type="number" name="age"></td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td><input type="text" name="qualification"></td>
            </tr>
            <tr>
                <th>monthly_salary</th>
                <td><input type="number" name="msalary"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
            </table>

        </form>
    
    
</body>
</html>