<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\,initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=""method="post">
        <table>
<tr>
    <th>name</th>
    <td><input type="text"name="name"></td>
</tr>
<tr>
    <th>phone</th>
    <td><input type="number"name="phone"></td>
</tr>
<tr>
    <th>email</th>
    <td><input type="email"name="email"></td>
</tr>
<tr>
    <th>place</th>
    <td><input type="text"name="place"></td>
</tr>
<tr>
    <td><input type="submit"></td>
</tr>
</table>
    </form> 

</body>
</html>